@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$primary-color: #252525;
$primary-font-color: #fff;
* {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
nav {
	background-color: $primary-color;
	height: 50px;
	align-content: flex-end;
	position: sticky;
	top: 0;

	.navcontainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		height: 50px;
		width: 15%;
		margin: 0 auto;
		color: $primary-font-color;

		.icon{
			font-size: 1rem;
		}
		input{
			-webkit-appearance: none;
			background-color: $primary-color;
			border: 1px solid $primary-font-color;
			border-radius: 5px;
			height: 1rem;
			padding: 5px;
			color: $primary-font-color;
		}
	}
}
header {
	margin-top: 50px;
	text-align: center;
}

.icon {
	color: $primary-font-color;
}
#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	.card {
		display: flex;
		align-items: center;
		margin-top: 50px;
		background-color: $primary-font-color;
		width: 60%;
		min-height: 200px;
		border-radius: 20px;
		overflow: hidden;
		box-shadow: 0px 0px 7px 1px $primary-color;

		.card-image {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 200px;
			overflow: hidden;
			min-width: 200px;
			max-width: 200px;
			max-height: 200px;
			border-right: 1px solid $primary-color;
		}

		.card-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			background-color: $primary-font-color;
			width: 100%;
			min-height: 200px;

			.data {
				display: flex;
				width: 100%;
				min-height: 75px;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;

				.info {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					min-height: 120px;
					width: 150px;

					.info-icon {
						font-size: 3rem;
						display: block;
					}
				}
			}
		}
	}
}
footer {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	width: 100%;
	background-color: $primary-color;
	color: $primary-font-color;
	p {
		margin: 0 50px;
	}
}
.hidden{
	display: none !important;
}
